<%-  include("../includes/head.ejs") %>
<body>
    <%- include("../includes/navigation.ejs") %>
    <section id="mobile-menu">
        <div class="container-mobile">
                <!-- ----------nav-col---------- -->
                <div class="mobile-logo">
                        <img src="image/" class="img-responsive" alt="">
                    <!-- ------------Clear---------- -->
                    <div class="clear"></div>
                    <!-- ------x------Clear-----x----- -->
                </div>
                <!-- -----x-------nav-col--------x---- -->
                <!-- -------------cnt-info-col------------- -->
                <div class="cnt-info-col">
                    <button type="button" id="toggle-bar"><i class="fa fa-bars"></i></button>
                </div>
                <!-- ------x-------cnt-info-col-------x------ -->
                <!-- ------------Clear---------- -->
                <div class="clear"></div>
                <!-- ------x------Clear-----x----- -->
        </div>
    </section>
    
    <div class="menu">
        <a href="#home" class="active">Home</a>
        <a href="#why-choose-us">About Us</a>
        <a href="#expand">Services</a>
        <a href="#project">Project</a>
        <a href="#blog">Blog</a>
        <a href="/register">Contact Us</a>
        <a href="tel:998 33 385 30 02">998 33 385 30 02</a>
    </div>
    
    <!-- ---------------header-bg-parent----------------- -->
    <section class="header-bg-parent">
        <!-- --------------header-col1--------------- -->
        <div class="header-col1">
            <h5>WELCOME</h5>
            <h2>TED MEDIA</h2>
            <h2 class="typewrite" data-period="1000"
                data-type='[ "Digital Company", "We Do Digital Marketing", "For Businesses " ]'></h2>
            <p>Ensuring the best return on investment for oyu bespoke SMM company requerement. </p>
            <button type="button" class="common-btn">CONTACT TODAY</button>
        </div>
        <!-- -------x-------header-col1-------x-------- -->
        <!-- --------------header-col2--------------- -->
        <div class="header-col2">
    
        </div>
        <!-- ------x--------header-col2--------x------- -->
        <!-- ------------Clear---------- -->
        <div class="clear"></div>
        <!-- ------x------Clear-----x----- -->
        <img class="hedaer-bg-par-img" src="image/corner-img.png" class="img-responsive" alt="">
    </section>
    <!-- -------x--------header-bg-parent---------x-------- -->
    
    <!-- ---------------feature-sec------------------ -->
    <section id="feature-sec">
        <!-- --------text-center------- -->
        <div class="text-center">
            <h5 class="common-h5">CARE FEATURES</h5>
            <h2 class="common-h2">Provide Awesome Service With Our Tools</h2>
        </div>
        <!-- --x------text-center-----x-- -->
        <div class="faeture-col-par">
            <div class="container">
                <!-- ---------feature-col--------- -->
                <div class="feature-col">
                    <h3>Discover, Explore the Product</h3>
                    <img src="image/home-faeture-img/service_img1.png" class="img-responsive" alt="">
                    <h4>Discover, Explore &amp; understanding the product</h4>
                </div>
                <!-- ---x------feature-col-------x-- -->
                <!-- ---------feature-col--------- -->
                <div class="feature-col">
                    <h3>Discover, Explore the Product</h3>
                    <img src="image/home-faeture-img/service_img2.png" class="img-responsive" alt="">
                    <h4>Discover, Explore &amp; understanding the product</h4>
                </div>
                <!-- ---x------feature-col-------x-- -->
                <!-- ---------feature-col--------- -->
                <div class="feature-col">
                    <h3>Discover, Explore the Product</h3>
                    <img src="image/home-faeture-img/service_img3.png" class="img-responsive" alt="">
                    <h4>Discover, Explore &amp; understanding the product</h4>
                </div>
                <!-- ---x------feature-col-------x-- -->
                <!-- ---------feature-col--------- -->
                <div class="feature-col">
                    <h3>Discover, Explore the Product</h3>
                    <img src="image/home-faeture-img/service_img4.png" class="img-responsive" alt="">
                    <h4>Discover, Explore &amp; understanding the product</h4>
                </div>
                <!-- ---x------feature-col-------x-- -->
                <!-- ------------Clear---------- -->
                <div class="clear"></div>
                <!-- ------x------Clear-----x----- -->
            </div>
        </div>
    </section>
    <!-- -------x--------feature-sec----------x-------- -->
    
    <!-- ------------------why-choose-us----------------- -->
    <section id="why-choose-us">
        <div class="container">
            <!-- -----------why-choose-col------------ -->
            <div class="why-choose-col">
                <h5 class="common-h5">WHY CHOOSE US</h5>
                <h2 class="common-h2">Boosts Your Website Traffic!</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda autem cum debitis distinctio
                    dolorum expedita impedit iste natus, nemo nostrum odio placeat, reprehenderit repudiandae sed tempore
                    vero voluptatum. Aliquam architecto delectus illo iste, magni modi placeat porro quod sit.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. In.
                </p>
                <button type="button" class="common-btn">DISCOVER MORE</button>
            </div>
            <!-- -----x------why-choose-col--------x---- -->
            <!-- -----------count-col---------- -->
            <div class="count-col">
                <div class="stat">
                    <!-- ------count-sub-col------ -->
                    <div class="count-sub-col">
                        <div class="milestone-counter">
                            <span class="stat-count highlight">122</span>
                            <div class="milestone-details">Happy Customers</div>
                        </div>
                    </div>
                    <!-- --x----count-sub-col----x-- -->
                    <!-- ------count-sub-col------ -->
                    <div class="count-sub-col">
                        <div class="milestone-counter">
                            <span class="stat-count highlight">100</span>
                            <div class="milestone-details">Ordered Coffee's</div>
                        </div>
                    </div>
                    <!-- --x---count-sub-col----x-- -->
                    <!-- ------count-sub-col------ -->
                    <div class="count-sub-col">
                        <div class="milestone-counter">
                            <span class="stat-count highlight">140</span>
                            <div class="milestone-details">Awards Win</div>
                        </div>
                    </div>
                    <!-- -x-----count-sub-col----x-- -->
                </div>
                <!-- --------------stat-info-par--------------- -->
                <div class="stat-info-par">
                    <!-- -----stat-info-sub-par----- -->
                    <div class="stat-info-sub-par">
                        <div class="stat-info-div">
                            <p>Men and Women, committed to better protect you around the world.</p>
                        </div>
                    </div>
                    <!-- -x----stat-info-sub-par----x- -->
                    <!-- -----stat-info-sub-par----- -->
                    <div class="stat-info-sub-par">
                        <div class="stat-info-div">
                            <p>Men and Women, committed to better protect you around the world.</p>
                        </div>
                    </div>
                    <!-- -x----stat-info-sub-par----x- -->
                    <!-- -----stat-info-sub-par----- -->
                    <div class="stat-info-sub-par">
                        <div class="stat-info-div">
                            <p>Men and Women, committed to better protect you around the world.</p>
                        </div>
                    </div>
                    <!-- -x----stat-info-sub-par----x- -->
                </div>
                <!-- ------x--------stat-info-par----------x----- -->
            </div>
            <!-- -----x------count-col-------x--- -->
            <!-- ------------Clear---------- -->
            <div class="clear"></div>
            <!-- ------x------Clear-----x----- -->
        </div>
    </section>
    <!-- ---------x---------why-choose-us----------x------- -->
    
    <!-- -------------------Expand------------------------ -->
    <section id="expand">
        <!-- --------text-center------- -->
        <div class="text-center">
            <h5 class="common-h5">EXPERINCE</h5>
            <h2 class="common-h2">Pay for Qualified Traffic!</h2>
        </div>
        <!-- --x------text-center-----x-- -->
        <!-- -----------expand-img-col------------ -->
        <div class="expand-img-col">
            <div class="expand-img">
                <img src="image/expand-home-img.png" class="img-responsive" alt="">
                <div class="expand-img-info">
                    <i class="fa fa-mobile"></i>
                    <h2>Expand Your Digital Presence</h2>
                    <p>Your app is your tool foe better communicatio with your followers.</p>
                    <a href="#">Get in touch <i class="fa fa-long-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <!-- ----x-------expand-img-col-------x----- -->
        <!-- -----------expand-img-info-col------------ -->
        <div class="expand-img-info-col">
            <div class="progress-bar-col">
                <!-- --------col-sm-4------- -->
                <div class="col-sm-4">
                    <div class="progressbar">
                        <div class="second circle" data-percent="77">
                            <strong></strong>
                        </div>
                    </div>
                </div>
                <!-- --x-----col-sm-4-----x-- -->
                <!-- --------col-sm-4------- -->
                <div class="col-sm-4">
                    <div class="progressbar">
                        <div class="second circle" data-percent="55">
                            <strong></strong>
                        </div>
                    </div>
                </div>
                <!-- --x-----col-sm-4-----x-- -->
                <!-- --------col-sm-4------- -->
                <div class="col-sm-4">
                    <div class="progressbar">
                        <div class="second circle" data-percent="100">
                            <strong></strong>
                        </div>
                    </div>
                </div>
                <!-- --x-----col-sm-4-----x-- -->
            </div>
            <!-- ---------------progress -info-col--------------- -->
            <div class="progress-info-col">
                <!-- --------progress-info-------- -->
                <div class="progress-info">
                    <h3>Creative Approach</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus praesentium qui sequi
                        temporibus!
                    </p>
                </div>
                <!-- ---x-----progress-info-----x--- -->
                <!-- --------progress-info-------- -->
                <div class="progress-info">
                    <h3>Creative Approach</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus praesentium qui sequi
                        temporibus!
                    </p>
                </div>
                <!-- ---x-----progress-info-----x--- -->
                <!-- --------progress-info-------- -->
                <div class="progress-info">
                    <h3>Creative Approach</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus praesentium qui sequi
                        temporibus!
                    </p>
                </div>
                <!-- ---x-----progress-info-----x--- -->
            </div>
            <!-- ------x---------progress -info-col------------x--- -->
        </div>
        <!-- -----x------expand-img-info-col---------x--- -->
        <!-- ------------Clear---------- -->
        <div class="clear"></div>
        <!-- ------x------Clear-----x----- -->
    </section>
    <!-- ---------x----------Expand---------------x--------- -->
    
    <!-----------------Faq par------------------>
    <section id="faq-par">
        <div class="container">
            <!-- --------faq-que-col------- -->
            <div class="faq-que-col">
                <h5 class="common-h5">EXPERINCE</h5>
                <h2 class="common-h2">Pay For Qualified Traffic</h2>
                <div id="faq-accordion">
                    <h3>Who do we use it ?</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cupiditate, doloremque laudantium
                        necessitatibus nemo tenetur. Adipisci aspernatur commodi corporis culpa earum et id illum, in
                        inventore itaque laboriosam officiis pariatur quisquam ut, voluptatem. Fuga, tempore?
                    </p>
    
                    <h3>Who we use it ?</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cupiditate, doloremque laudantium
                        necessitatibus nemo tenetur. Adipisci aspernatur commodi corporis culpa earum et id illum, in
                        inventore itaque laboriosam officiis pariatur quisquam ut, voluptatem. Fuga, tempore?
                    </p>
    
                    <h3>Can we use it ?</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cupiditate, doloremque laudantium
                        necessitatibus nemo tenetur. Adipisci aspernatur commodi corporis culpa earum et id illum, in
                        inventore itaque laboriosam officiis pariatur quisquam ut, voluptatem. Fuga, tempore?
                    </p>
    
                    <h3>What Three Solution are ?</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cupiditate, doloremque laudantium
                        necessitatibus nemo tenetur. Adipisci aspernatur commodi corporis culpa earum et id illum, in
                        inventore itaque laboriosam officiis pariatur quisquam ut, voluptatem. Fuga, tempore?
                    </p>
    
                    <h3>Do or not ?</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cupiditate, doloremque laudantium
                        necessitatibus nemo tenetur. Adipisci aspernatur commodi corporis culpa earum et id illum, in
                        inventore itaque laboriosam officiis pariatur quisquam ut, voluptatem. Fuga, tempore?
                    </p>
                </div>
            </div>
            <!-- --x------faq-que-col-----x-- -->
            <!-- ---------faq-bg-col--------- -->
            <div class="faq-bg-col">
                <div class="faq-img-par">
                    <img src="image/home-faq.png" class="img-responsive" alt="#">
                    <div class="faq-img-info">
                        <i class="fal fa-lightbulb-on"></i>
                        <h2>Have a project in mind? <br>Let's get to work.</h2>
                        <p>Find out how it works and ask any <br>quistions you may have.</p>
                        <a href="#">Get in touch <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- --x-------faq-bg-col-------x-- -->
            <!-- ------------Clear---------- -->
            <div class="clear"></div>
            <!-- ------x------Clear-----x----- -->
        </div>
    </section>
    <!------x-----------Faq par-----------x------->
    
    <!-- ---------------------Project--------------------- -->
    <section id="project">
        <!-- --------text-center------- -->
        <div class="text-center">
            <h5 class="common-h5">FEATURED PROJECTS</h5>
            <h2 class="common-h2">Our Case Studies</h2>
        </div>
        <!-- --x------text-center-----x-- -->
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="owl-img-par">
                    <img src="image/portfolio/portfolio-one.jpg" class="img-responsive" alt="#">
                    <div class="owl-img-info">
                        <h3>SMM</h3>
                        <p>Marketing</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="owl-img-par">
                    <img src="image/portfolio/portfolio-two.jpg" class="img-responsive" alt="#">
                    <div class="owl-img-info">
                        <h3>YouTube</h3>
                        <p>Menejment</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="owl-img-par">
                    <img src="image/portfolio/portfolio-three.jpg" class="img-responsive" alt="#">
                    <div class="owl-img-info">
                        <h3>SHaxsiy</h3>
                        <p>Branding</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="owl-img-par">
                    <img src="image/portfolio/portfolio-four.jpg" class="img-responsive" alt="#">
                    <div class="owl-img-info">
                        <h3>WEB</h3>
                        <p>Sayt</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="owl-img-par">
                    <img src="image/portfolio/portfolio-four.jpg" class="img-responsive" alt="#">
                    <div class="owl-img-info">
                        <h3>WEB</h3>
                        <p>Design</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ---------x------------Project-----------x---------- -->
    
    <!-- ----------------------Price Table----------------------- -->
    <section id="price-table">
        <!-- --------text-center------- -->
        <div class="text-center">
            <h5 class="common-h5">PRICING PLAN</h5>
            <h2 class="common-h2">The Best Solutions for Our Clients</h2>
        </div>
        <!-- --x------text-center-----x-- -->
        <!-- ---------basic-price-col--------- -->
        <div class="basic-price-col">
            <div class="basic-price-info">
                <h4>Basic Plan</h4>
                <div class="price">
                    <p>$2450</p>
                    <div class="price-list">
                        <ul>
                            <li>SMM Marketing</li>
                            <li>YouTube Menejment</li>
                            <li>Design</li>
                            <li>WEB Sayt</li>
                            <li>SHaxsiy Brand</li>
                        </ul>
                    </div>
                    <button type="button" class="price-btn">Get Started</button>
                </div>
            </div>
        </div>
        <!-- -----x----basic-price-col------x--- -->
        <!-- ---------basic-price-col--------- -->
        <div class="basic-price-col rec-price">
            <div class="basic-price-info">
                <h4>Standart Plan</h4>
                <div class="price">
                    <p>$2450</p>
                    <div class="price-list">
                        <ul>
                            <li>SMM Marketing</li>
                            <li>YouTube Menejment</li>
                            <li>Design</li>
                            <li>WEB Sayt</li>
                            <li>SHaxsiy Brand</li>
                        </ul>
                    </div>
                    <button type="button" class="price-btn">Get Started</button>
                </div>
            </div>
        </div>
        <!-- -----x----basic-price-col------x--- -->
        <!-- ---------basic-price-col--------- -->
        <div class="basic-price-col">
            <div class="basic-price-info">
                <h4>Premium Plan</h4>
                <div class="price">
                    <p>$2450</p>
                    <div class="price-list">
                        <ul>
                            <li>SMM Marketing</li>
                            <li>YouTube Menejment</li>
                            <li>Design</li>
                            <li>WEB Sayt</li>
                            <li>SHaxsiy Brand</li>
                        </ul>
                    </div>
                    <button type="button" class="price-btn">Get Started</button>
                </div>
            </div>
        </div>
        <!-- -----x----basic-price-col------x--- -->
        <!-- ------------Clear---------- -->
        <div class="clear"></div>
        <!-- ------x------Clear-----x----- -->
    </section>
    <!-- --------x--------------Price Table-----------------x------ -->
    
    <!-- -------------------------Blog-------------------------- -->
    <section id="blog">
        <!-- --------text-center------- -->
        <div class="text-center">
            <h5 class="common-h5">BLOG</h5>
            <h2 class="common-h2">Read Our Lates News</h2>
        </div>
        <!-- --x------text-center-----x-- -->
        <!-- -----------------Container-------------- -->
        <div class="container">
            <!-- ---------blog-col-------- -->
            <div class="blog-col">
                <img src="image/blog/blog-1.jpg" class="img-responsive" alt="#">
                <span>May 18 2021</span>
                <h3>How to Increase Your ROI Through scientific SEM?</h3>
                <a href="#">Read More</a>
            </div>
            <!-- --x-------blog-col------x-- -->
            <!-- ---------blog-col-------- -->
            <div class="blog-col">
                <img src="image/blog/blog-2.jpg" class="img-responsive" alt="#">
                <span>May 18 2021</span>
                <h3>How to Increase Your ROI Through scientific SEM?</h3>
                <a href="#">Read More</a>
            </div>
            <!-- --x-------blog-col------x-- -->
            <!-- ---------blog-col-------- -->
            <div class="blog-col">
                <img src="image/blog/blog-3.jpg" class="img-responsive" alt="#">
                <span>May 18 2021</span>
                <h3>How to Increase Your ROI Through scientific SEM?</h3>
                <a href="#">Read More</a>
            </div>
            <!-- --x-------blog-col------x-- -->
            <!-- ------------Clear---------- -->
            <div class="clear"></div>
            <!-- ------x------Clear-----x----- -->
        </div>
        <!-- -----x------------Container---------x----- -->
    </section>
    <!-- ---------x----------------Blog-----------------x--------- -->
    
    <!-- ----------------------Contact----------------------- -->
    <section id="contact">
        <div class="container">
            <div class="form-par">
                <h2>Get In Touch With Us !</h2>
                <% if (errorMessage) { %>
                    <div class="user-message user-message--error"><%= errorMessage %></div>
                <% } %>
                <form action="/message" method="POST">
                    <input       
                    type="text" 
                    class="<%= validationErrors.find(e => e.param === 'name') ? 'invalid' : ''%> f-name form-com" 
                    name="name" 
                    required 
                    placeholder="Your Name"
                    value="<%= oldInput.name %>">
                    <input 
                    type="number"
                    class="<%= validationErrors.find(e => e.param === 'age') ? 'invalid' : ''%> em-input form-com"  
                    name="age" 
                    required 
                    placeholder="Age"
                    value="<%= oldInput.age %>">
                    <input 
                    class="<%= validationErrors.find(e => e.param === 'age') ? 'invalid' : ''%> phone-input form-com"  
                    type="tel" 
                    pattern="[+]{1}[0-9]{11,14}"
                    id="phone" 
                    name="phone" 
                    placeholder="+99899 --- -- --"
                    value="<%= oldInput.phone %>"
                    required>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="submit" value="Submit" class="submit-btn">
                </form>
            </div>
        </div>
    </section>
    <!-- ----------x------------Contact-----------x------------ -->
    
    <!-- ---------------------Footer------------------------ -->
    
    
    <%- include("../includes/footer.ejs") %>